.container{
    display: flex;
    img{
        height: calc( 100vh - 95px);
    }
    .text{
        color: #fff;
    }
    p{
        font-size: 18px;
        line-height: 36px;
    }
    .inforow{
        margin-top: 15px;
        align-items: center;
        h5{
            margin: 0;
            width: 200px;
        }
        span{
            margin-left: 15px;
            font-size: 16px;
        }
    }
}