<div class="container">
  <div class="avatar">
    <img src="../../assets/mano.JPG">
  </div>
  <div class="p-3 text m-3">
    <h2>Hello!</h2>
    <h2>I'm Manoj.</h2>
    <p>I'm a Full Stack Developer, Currently building web and mobile applications for Chain-sys India Private Limited. 
      I started my career and working in chainsys and I also personnelly worked many projects in various platforms. 
    </p>
    <h3>General Info</h3>
    <div class="d-flex inforow">
      <h5>Date Of Birth</h5>
      <span>  July 07, 1993</span>
    </div>
    <div class="d-flex inforow">
      <h5>Address</h5>
      <span>SK 1/5, Police quarters, Melakottaiyur, Chennai</span>
    </div>
    <div class="d-flex inforow">
      <h5>Email</h5>
      <span>manoj.selvamr@gmail.com</span>
    </div>
    <div class="d-flex inforow">
      <h5>Phone</h5>
      <span>+91 8610285584</span>
    </div>
    <div>
      <button type="button" class="btn btn-warning mt-5 mr-3">View CV</button>
      <button type="button" class="btn btn-success mt-5">Download CV</button>
    </div>
  </div>
</div>
