<div class="container">
  <div class="avatar">
    <img src="../../assets/manoj1.jpg">
  </div>
  <div class="p-3 text ml-3 mr-3 mt-3">
    <h2>Hi! I'm Manoj.</h2>
    <p>I'm a Web Developer. Currenty, I'm working as a Senior Software Engineer at HCL Technologies, Chennai. I develops Web/Mobile Appications.</p>
    <h3 class="mt-5">General Info</h3>
    <div class="d-flex inforow">
      <h5>Date Of Birth</h5>
      <span>July 07, 1993</span>
    </div>
    <div class="d-flex inforow">
      <h5>Address</h5>
      <span>22/7, Telugu Street, Mettupalayam, Trichy-621210</span>
    </div>
    <div class="d-flex inforow">
      <h5>Email</h5>
      <span>manoj.selvamr@gmail.com</span>
    </div>
    <div class="d-flex inforow">
      <h5>Phone</h5>
      <span>+91 8610285584</span>
    </div>
    <div>
      <button type="button" class="btn btn-warning mt-5 mr-3">
        <a href="../../assets/Mano.pdf" target="_blank">View CV</a>
      </button>
      <button type="button" class="btn btn-success mt-5">
        <a href="../../assets/Mano.pdf" download="Manoj CV">Download CV</a>
      </button>
    </div>
  </div>
</div>
